################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CryptApp/bin/Debug
/CryptApp/obj/Debug
/.vs/CryptApp/DesignTimeBuild
/.vs/CryptApp
