################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CryptApp/bin/Debug
/CryptApp/obj/Debug
/.vs/CryptApp/DesignTimeBuild
/.vs/CryptApp
/DesCryptTest/bin/Debug
/DesCryptTest/obj/Debug
/packages
/.vs/config
